.app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.app__title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.app__container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1200px;
  gap: 5rem;
}

.app__form {
  background-color: #e9f1fb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.app__form {
  width: 35rem;
}

@media (max-width: 1068px) {
  .app__container {
    grid-template-columns: 1fr;
  }
}
