.text-area {
  margin: 2rem 0;
}

.text-area__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.text-area__span {
  font-style: italic;
  font-size: 0.875rem;
  color: var(--text-color);
}

.text-area__input {
  width: 80%;
  height: 10rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.text-area__input:focus {
  outline: none;

  background-color: var(--secondary-color);
}

.text-area__message {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  transition: color 0.3s;
  font-weight: bold;
}

.text-area__message--normal {
  color: green;
}

.text-area__message--warning {
  color: darkgoldenrod;
}

.text-area__message--danger {
  color: darkred;
}
